<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="../static/index.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/finish.css" />
    <script>
      var score = {{ score| tojson}}
    </script>
  </head>

  <body>
    <div class="container">
      <br />
      <h1 class="score">Final Score: {{score}}</h1>

      <div class="container-row smaller">
        <p>
          Congratulations on finishing the quiz! If you would like to try again,
          please click the button below:
        </p>

        <button
          type="button"
          name="button"
          class="btn btn-lg btn-outline-dark pad_btn"
          id="try_again_btn"
        >
          <strong>Try Again</strong><br />
        </button>
      </div>
    </div>
  </body>
</html>
