<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="../static/index.js"></script>
  </head>

  <body>
    <div class="jumbotron">
      <h1 class="display-4">Rainbow Quiz!!</h1>
      <hr class="my-4" />
      <p>
        Welcome to Somewhere over the ESP32. Here you will take a short quiz.
        You can track your progress on the embedded rainbow system next to this
        laptop. If you reach the end of the rainbow you just might win a prize!
      </p>
      <p class="lead"></p>
    </div>

    <div class="container">
      <button type="button" class="btn btn-primary" id="start_btn">
        Begin Quiz
      </button>
    </div>
  </body>
</html>
