<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link
      rel="stylesheet"
      href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="../static/index.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/homepage.css" />
  </head>

  <body>
    <div class="container">
      <br />
      <h1 class="bigger">Welcome</h1>

      <div class="container-row smaller">
        <p>
          Hello there! On this page you will have the opportunity to prove your
          rainbow knowledge. Simply answer the 5 quiz questions and track your
          progress on the embedded rainbow system next to this laptop. If you
          reach the end of the rainbow you just might win a prize!
        </p>

        <button
          type="button"
          name="button"
          class="btn btn-lg btn-outline-dark pad_btn"
          id="start_btn"
        >
          <strong>Take Quiz</strong><br />
        </button>
      </div>
    </div>
  </body>
</html>
